.Home {
  .flex-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    div.flex-item {
      display: flex;
      flex-flow: column;
      align-items: end;
    }
  }
}

@media (max-width: 640px) {
  .Home {
    .flex-container {
      flex-flow: column;

      .flex-item {
        & > a {
          width: 100%;
        }
        & > div {
          margin: 24px 0;

          & > div {
            width: 100%;
          }
        }
      }
    }
  }
}
